body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
  text-align: center;
}

.imagen-container {
  width: 100%;
}

.imagen-grande {
  width: 100%;
  height: auto;
  display: block;
}

.formulario {
  padding: 20px;
  background: #222;
}

input {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 80%;
  max-width: 300px;
  border-radius: 8px;
  border: none;
}

button {
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

table {
  width: 90%;
  margin: 20px auto;
  border-collapse: collapse;
  background: #222;
}

th, td {
  border: 1px solid white;
  padding: 10px;
}

th {
  background: #333;
}
